.content {
  padding-top: 10px;
  
}
.row {
  display: flex;
  gap: 10px;

  mat-form-field {
    width: 100%;
  }
}

.action {
  padding: 0px 25px 20px;
  button {
    flex: 1;
  }
}

.form{
  background-color:#E5E7E9 ;
}

h1{
  display: flex;
  justify-content: center; /* Centrage horizontal */
  align-items: center; /* Centrage vertical */
}
.enr{
  background-color: #7ba3a3;;
}